@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #ff99cc;
  background: -moz-radial-gradient(center, ellipse cover, #ff99cc 0%, #ff6699 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff99cc), color-stop(100%, #ff6699));
  background: -webkit-radial-gradient(center, ellipse cover, #ff99cc 0%, #ff6699 100%);
  background: -o-radial-gradient(center, ellipse cover, #ff99cc 0%, #ff6699 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ff99cc 0%, #ff6699 100%);
  background: radial-gradient(ellipse at center, #ff99cc 0%, #ff6699 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99cc', endColorstr='#ff6699', GradientType=1);
}

.cake:after {
  background: #ffe6f2;
}

.velas {
  background: #ffffff;
}
.velas:after,
.velas:before {
  background: rgba(255, 102, 153, 0.4);
}

.fuego {
  box-shadow: 0 0 40px 10px rgba(255, 182, 193, 0.2);
}

@-webkit-keyframes fuego {
  0% {
    background: rgba(255, 192, 203, 0.5);
  }
  50% {
    background: rgba(255, 105, 180, 0.1);
  }
  100% {
    background: rgba(255, 192, 203, 0.5);
  }
}

.cobertura {
  background: #ffd1dc;
}
.cobertura:after,
.cobertura:before {
  background: #ffd1dc;
}

.bizcocho {
  background: #d9417e;
}
.bizcocho:after,
.bizcocho:before {
  background: rgba(255, 209, 220, 0.6);
}

h1 {
  color: #d9417e;
}
p {
  color: rgba(255, 209, 220, 0.6);
}
